.problem-history {
    text-align: left;
    overflow: hidden;
    border-bottom: 1px solid #ffffff65;
}

    .problem-history:hover {
        background-color: rgba(245, 245, 245, 0.2);
    }

.problem-history-action-bar {
    display: inline-grid;
    grid-template-rows: repeat(2, 35px);
    grid-template-columns: 35px;
    z-index: 1;
}

    .problem-history-action-bar button {
        border: none;
        color: black;
        background-color: transparent;
        width: 100%;
    }

    .problem-history-action-bar button {
        border: none;
    }

.problem-history-values {
    display: inline-grid;
    grid-template-columns: 185px;
    grid-template-rows: repeat(2, 35px);
    margin: 5px 15px 5px 0px;
    margin-bottom: 5px;
    align-self: center;
    justify-items: end;
}

    .problem-history-values p::-webkit-scrollbar {
        display: none;
    }

    .problem-history-values h2::-webkit-scrollbar {
        display: none;
    }

    .problem-history-values h2 {
        overflow-x: scroll;
        overflow-y: unset;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
    }

    .problem-history-values p {
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 15px;
        font-size: 18px;
        align-self: center;
        float: right;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
    }

.disabled {
    opacity: 0;
}
